<div class="page-header">
  <h1><%= @user.name %></h1>

  <div class="container">
    <div class="row">

      <div class='col-md-5 col-md-offset-1 bgh-user-image-upload'>
        <div class="thumbnail">
          <%= image_tag nil_to_no_image(@user.user_image.url), class: 'user-image' %>
        </div>
        <div class="sns-links">
          <% @user.sns_profile.each do |p| %>
            <%= profile_link_button p %>
          <% end %>
        </div>
      </div>

      <div class='col-md-5 bgh-user-image-upload'>
        <table class='table table-striped detail-table'>
          <tr>
            <td class='bgh-table-label'>Name</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td class='bgh-table-label'>Event Reports posted</td>
            <td><%= @user.posted_report_count %></td>
          </tr>
          <tr>
            <td class='bgh-table-label'>Carrier Hits</td>
            <td>3085 hits</td>
          </tr>
          <tr>
            <td class='bgh-table-label'>Carrier Home Runs</td>
            <td>756 HR</td>
          </tr>
          <tr>
            <td class='bgh-table-label'>URL</td>
            <td><%= link_to @user.website_url if @user.website_url %></td>
          </tr>
        </table>
      </div>

      <div class='grid bgh-event-reports-grid'>
        <div class='grid-sizer'></div>
        <%= reports_grid(EventReport.for_user(@user.id), true, 'home-digest') %>
      </div>

    </div>
  </div>
</div>
