<div class="month center-block">
  <div><%= content_tag :h1, @yearMonth.format %></div>
</div>

<div class="schedule">

  <!-- View for Tablet and Desktops -->
  <table class='bgh-event-calendar datalist hidden-xs table table-striped table-bordered'>
    <thead>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th><span class='sat'>Sat</span></th>
      <th><span class='sun'>Sun</span></th>
    </thead>
    <% @cal.weeks.each do |week| %>
      <%= render partial: 'week', object: week %>
    <% end %>
  </table>

  <div class='datalist visible-xs-block'>
    <% @cal.weeks.each do |week| %>
      <% for dayOfWeek in DayOfWeek.values %>
        <% day = week.day_for(dayOfWeek) %>
        <% if day.date %>
          <div class="light-bordered bgh-events-outer center-block">
            <%= render(partial: 'day', object: day) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Navigation Footers -->
  <div class='bgh-events-button-footer center-block'>
    <div class='actions'>
      <div class='pull-left'>
        <%= button_to "< " + t('bgh.event.prev_month'), events_path,
          {params: {month: @yearMonth.previous.serialize }, method: :get, class: 'btn btn-default'} %>
      </div>
      <div class='pull-right'>
        <%= button_to t('bgh.event.next_month') + ' >', events_path,
          {params: {month: @yearMonth.next.serialize }, method: :get, class: 'btn btn-default'} %>
      </div>
      <%= button_to t('bgh.event.post_new'), new_event_path, method: :get, class: 'btn btn-info center-block' %>
    </div>
    <div class='actions'>
      <div class="form-group month-form form-inline">
        <%= form_tag('/events', method: 'get', class: 'form-inline') do %>
          <div class='from-group'>
            <%= month_field nil, 'month', value: @yearMonth.input_format, class: 'form-inline form-control' %>
            <%= submit_tag t('bgh.event.show_month'), class: 'btn btn-default btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
