<div class="page-header">
  <h1>Events</h1>
</div>

<div class="Month">
  <%= @yearMonth.format %>
</div>

<div class="schedule">
  <table class='datalist'>
    <thead>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thu</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </thead>
    <% @cal.weeks.each do |week| %>
      <%= render partial: 'week', object: week %>
    <% end %>
</div>


  <!--
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Comment</th>
    <th>Place</th>
  <% @events.each do |event| %>
	<tr>
    <td><%= link_to event.name, event_path(event) %></td>
		<td><%= event.event_date %></td>
		<td><%= event.comment %></td>
    <td><%= event.place.name if event.place %></td>
	</tr>
<% end %>-->
</table>

<div class="footer">
  <%= link_to "Create New Event", new_event_path %>
</div>
