<div class="month center-block">
  <div><%= content_tag :h1, @yearMonth.format %></div>
</div>

<div class="schedule">

  <!-- View for Tablet and Desktops -->
  <table class='datalist hidden-xs table table-striped table-bordered'>
    <thead>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th><span class='sat'>Sat</span></th>
      <th><span class='sun'>Sun</span></th>
    </thead>
    <% @cal.weeks.each do |week| %>
      <%= render partial: 'week', object: week %>
    <% end %>
  </table>

  <div class='datalist visible-xs-block'>
    <% @cal.weeks.each do |week| %>
      <% for dayOfWeek in DayOfWeek.values %>
        <% day = week.day_for(dayOfWeek) %>
        <% if day.date %>
          <div class="light-bordered bgh-events-outer center-block">
            <%= render(partial: 'day', object: day) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- Navigation Footers -->
  <div class='bgh-events-button-footer'>
    <div class='actions'>
      <%= button_to "Create New Event", new_event_path, method: :get, class: 'btn btn-default center-block' %>
    </div>
    <div class='actions form-inline'> <!-- TODO fix alignments for mobile view -->
      <div class='form-group'>
        <%= button_to "< Prev", events_path,
          {params: {month: @yearMonth.previous.serialize }, method: :get, class: 'btn btn-default btn-sm'} %>
      </div>
      <div class="form-group">


        <!--
          <%= content_tag :input, '', id: 'mohth', type: 'month', class: 'form-inline form-control', value: @yearMonth.input_format %>
          <button type='submit' class='btn btn-default btn-sm'>show</button>
         -->
        <%= form_tag('/events', method: 'get') do %>
          <%= month_field nil, 'month', value: @yearMonth.input_format, class: 'form-inline form-control' %>
          <%= submit_tag 'Show', class: 'btn btn-default btn-sm' %>
        <% end %>






      </div>
      <div class='form-group'>
        <%= button_to 'Next >', events_path,
          {params: {month: @yearMonth.next.serialize }, method: :get, class: 'btn btn-default btn-sm'} %>
      </div>
    </div>
  </div>
</div>
