<div class="field">
  <table>
    <tr>
      <td> Title </td>
      <td> <%= @event.name %> </td>
    </tr>
    <tr>
      <td> Date </td>
      <td> <%= @event.event_date %> </td>
    </tr>
    <tr>
      <td> Comment </td>
      <td> <%= @event.comment %> </td>
    </tr>
    <tr>
    	<td> Place </td>
      <td> <%= @event.place.name if @event.place %> </td>
    </tr>
  </table>
</div>
<div class="footer">
<%= link_to "All Events", events_path %>
<%= link_to "Edit Event", edit_event_path %>
</div>
