<div class="page-header">
  <span class="center-block text-center">
    <h1><%= @event.name %><h1>
  </span>
</div>



<div class="container">
  <div class='row'>

    <div class="col-md-5">
      <a class='thumbnail'>
        <img src='#' alt='No Image', class='img-thumbnail img-responsive'>
      </a>
    </div>
    <div class='col-md-6 col-md-offset-1'>
      <%= render partial: 'event_table', object: @event %>
    </div>
  </div>
</div>

<div class='bgh-event-reports text-center'>
  <div class="grid bgh-event-reports-grid">
    <!-- TODO report reports -->
  </div>
  <% if current_user %>
    <%= button_to 'Post a Report', new_event_report_path,
      { params: { user_id: current_user.id, event_id: @event.id }, class: 'btn btn-primary', method: :get } %>
  <% end %>
</div>
<nav>
  <ul class='pager'>
    <li><%= link_to "All Events", events_path %></li>
    <li><%= link_to "Edit Event", edit_event_path %></li>
  </ul>
</nav>
