<div class="page-header">
  <span class="center-block text-center">
    <h1><%= @event.name %><h1>
  </span>
</div>



<div class="container">
  <div class='row'>

    <!-- Event Details -->
    <div class='col-md-6 col-md-offset-1'>
      <%= render partial: 'event_table', object: @event %>
    </div>
  </div>

  <!-- Reports -->
  <div class='row bgh-event-reports text-center'>
    <%= reports_grid @event.event_report %>
  </div>

  <!-- Buttons -->
  <div class='bgh-event-reports text-center row'>
    <div class='col-lg-12'>
      <% if EventsHelper.not_post_yet(@event, current_user) %>
        <%= button_to 'Post a Report', new_event_report_path,
          { params: { user_id: current_user.id, event_id: @event.id }, class: 'btn btn-info', method: :get } %>
      <% elsif report_id = EventsHelper.posted_report_id(@event, current_user) %>
        <%= button_to 'Edit your Report', edit_event_report_path(report_id),
          { params: { id: report_id }, class: 'btn btn-info', method: :get } %>
      <% end %>
    <div>
  </div>

</div>

<nav>
  <ul class='pager'>
    <li><%= link_to "All Events", events_path %></li>
    <li><%= link_to "Edit Event", edit_event_path %></li>
  </ul>
</nav>
