<%= form_for(@event_report) do |f| %>

  <div class="container">
    <div class="row">

      <!-- table -->
      <div class='col-md-5'>
        <%= render partial: 'events/event_table', object: @event %>
      </div>

      <!-- summary and main comment -->
      <div class="col-md-7">
        <div class="form-group">
          <%= f.label :summary, class: 'control-label' %>
          <%= errors @event_report, :summary %>
          <%= f.text_field :summary, class: 'form-control', placeholder: 'Summary for this event' %>
        </div>
        <div class='form-group'>
          <%= f.label :comment, class: 'control-label' %>
          <%= errors @event_report, :comment %>
          <%= f.text_area :comment, class: 'form-control', placeholder: 'Comment', rows: 10 %>
        </div>
        <div style="display:none">
          <%= f.text_field :user_id %>
          <%= f.text_field :event_id %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label :event_photos %>
        <%= f.add_nested_fields_link :event_photos %>
        <%= f.nested_fields_for :event_photos do |photo| %>
          <%= photo.text_field :title, placeholder: "Title (Optional)" %>
          <%= photo.file_field :photo, class: 'photo-cache' %>
          <%= photo.hidden_field :photo_cache %>
          <%= photo.remove_nested_fields_link 'x', class: 'bgh-delete-button' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class='pull-right'>
          <%= f.submit "Post a Report", class: 'btn btn-primary' %>
          <%= button_to 'Back', event_reports_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
