<!-- header -->
<% user = @event_report.user %>
<% photos = @event_report.event_photos %>

<article class='center-block'>
  <span class="center-block text-center page-header">
    <h1>
      <%= @event_report.summary %>
      <br>
      <small>(<%= @event_report.event.name %>)</small>
      <br>
    </h1>
    <%= date_format @event_report.event.event_date %> by <%= link_to user.name, user_path(user) %>
  </span>

  <!-- <div class='grid'>
    <div class='grid-sizer'></div>
    <% for photo in photos %>
      <div class='grid-item'>
        <%= link_to '#', data: { toggle: 'modal', target: '#event_report_modal', id: photo.id,
          url: photo.photo.url, title: photo.title, author: @event_report.user == current_user } do %>
          <%= image_tag photo.photo.mini.url, class: 'img-responsive img-rounded first-photo center-block' %>
        <% end %>
      </div>
    <% end %>
  </div> -->
  <%= react_component 'Photos', {data: photos} %>

  <div class='modal fade' id='event_report_modal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
    <div class="modal-dialog" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel"></h4>
          <input class='title-edit' style='display: none;'>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <% if @event_report.comment.present? %>
      <div class='comment col-xs-9'>
        <span class='comment-text text-left'><%= simple_format(h(@event_report.comment)) %></span>
      </div>
      <% author_info_col = 'col-xs-3' %>
    <% else %>
      <% author_info_col = 'col-xs-12' %>
    <% end %>

     <%= content_tag :div, class: "author-info #{author_info_col}" do%>
      <div class='text-center'><span>Reported By...</span></div>
      <div><%= image_tag user.user_image.mini.url, class: 'img-rounded img-responsive user-image center-block' %></div>
      <div class='text-center'><%= link_to user.name, user_path(user) %></div>
    <%end%>
  </div>

</article>

<div class="sns-links btn-group-vertical">
  <%= tweet_button(url: event_report_url(@event_report), text: report_oneline_summary(@event_report), via: 'BallGameHub') %>

</div>


<nav>
  <ul class='pager'>
    <%if @event_report.user == current_user %>
      <li><%= link_to "Edit", edit_event_report_path %></li>
    <% end %>
  </ul>
</nav>
