<!-- header -->
<% user = @event_report.user %>
<% photos = @event_report.event_photos %>

<article class='center-block'>
  <span class="center-block text-center page-header">
    <h1>
      <%= @event_report.summary %>
      <br>
      <small>(<%= @event_report.event.name %>)</small>
      <br>
    </h1>
    <%= date_format @event_report.event.event_date %> by <%= link_to user.name, user_path(user) %>
  </span>

  <div class='grid'>
    <% for photo in photos %>
      <%= image_tag photo.photo.mini.url, class: 'grid-item img-rounded first-photo' %>
    <% end %>
  </div>

  <div class="row">

    <% if @event_report.comment.present? %>
      <div class='comment col-xs-9'>
        <span class='comment-text text-left'><%= simple_format(h(@event_report.comment)) %></span>
      </div>
      <% author_info_col = 'col-xs-3' %>
    <% else %>
      <% author_info_col = 'col-xs-12' %>
    <% end %>

     <%= content_tag :div, class: "author-info #{author_info_col}" do%>
      <div class='text-center'><span>Reported By...</span></div>
      <div><%= image_tag user.user_image.mini.url, class: 'img-rounded img-responsive user-image center-block' %></div>
      <div class='text-center'><%= link_to user.name, user_path(user) %></div>
    <%end%>
  </div>

</article>

<div class="sns-links btn-group-vertical">
  <%= link_to_url(Providers::TWITTER, report_oneline_summary(@event_report), event_report_url(@event_report))%>
  <!--
  <%= link_to_url(Providers::FACEBOOK, report_oneline_summary(@event_report), event_report_url(@event_report))%>
  -->
</div>


<nav>
  <ul class='pager'>
    <li><%= link_to "Edit", edit_event_report_path %></li>
  </ul>
</nav>
