<!-- header -->
<% user = @event_report.user %>
<% photos = @event_report.event_photos %>

<article class='center-block'>
  <span class="center-block text-center page-header">
    <h1>
      <%= @event_report.summary %>
      <br>
      <small>(<%= @event_report.event.name %>)</small>
      <br>
    </h1>
    <%= date_format @event_report.event.event_date %> by <%= link_to user.name, user_path(user) %>
  </span>

  <div class='comment'>
    <!-- <div class='user-info'>
      <%= image_tag user.user_image.mini.url, class: 'user-image img-rounded' %>
      <div><span><%= link_to user.name, user_path(user) %></span></div>
    </div> -->
    <div class='center-block text-center'><span class='comment-text'><%= simple_format(h(@event_report.comment)) %></span></div>
  </div>

  <div class='grid'>
    <% for photo in photos %>
      <%= image_tag photo.photo.mini.url, class: 'grid-item img-thumbnail first-photo' %>
    <% end %>
  </div>
</article>

<div class='author-info center-block text-center'>
  <div><span>Reported By...</span></div>
  <%= image_tag user.user_image.mini.url, class: 'img-rounded user-image' %>
  <div><%= link_to user.name, user_path(user) %></div>
</div>

<nav>
  <ul class='pager'>
    <li><%= link_to "Edit", edit_event_report_path %></li>
  </ul>
</nav>
