<!-- header -->
<% user = @event_report.user %>
<% photos = @event_report.event_photos %>

<article class='center-block'>
  <span class="center-block text-center page-header">
    <h1>
      <%= @event_report.summary %>
      <br>
      <small>
        <%= link_to @event_report.event do%>
          (<%= @event_report.event.name %>)
        <% end %>
      </small>
      <br>
    </h1>
    <%= l @event_report.event.event_date, format: :yymmdd %> by <%= link_to user.name, user_path(user) %>
    <%if @event_report.user == current_user %>
      <ul class='list-inline'>
        <li><small><%= link_to t('bgh.event_report.edit_this_post'), edit_event_report_path %></small><li>
        <li><small><%= link_to t('bgh.event_report.delete_this_post'), event_report_path, method: :delete %></small></li>
      </ul>
    <% end %>
  </span>

  <%= react_component 'Photos', {data: photos} %>
  <div id='photo-modal'></div>

  <div class="row">

    <% if @event_report.comment.present? %>
      <div class='comment col-xs-9'>
        <span class='comment-text text-left'><%= simple_format(h(@event_report.comment)) %></span>
      </div>
      <% author_info_col = 'col-xs-3' %>
    <% else %>
      <% author_info_col = 'col-xs-12' %>
    <% end %>

     <%= content_tag :div, class: "author-info #{author_info_col}" do%>
      <div class='text-center'><span>Reported By...</span></div>
      <div><%= image_tag user.user_image.mini.url, class: 'img-rounded img-responsive user-image center-block' %></div>
      <div class='text-center'><%= link_to user.name, user_path(user) %></div>
    <%end%>
  </div>

</article>

<div class="sns-links btn-group-vertical">
  <%= tweet_button(url: event_report_url(@event_report), text: report_oneline_summary(@event_report), via: 'BallGameHub') %>

</div>
