<div class="page-header">
  <span class="center-block text-center">
    <h1><%= @event_report.summary %><small>(<%= @event_report.event.name %>)</small><h1>
  </span>
</div>

  <div class="container">
    <div class="row">
      <div>
        <strong>Comment:</strong>
        <%= @event_report.comment %>
      </div>

      <div class='grid'>
        <% for photo in @event_report.event_photos %>
          <div class='grid-item'>
            <%= image_tag photo.photo.url, class: 'thumbnail img-responsive' %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

<%= link_to 'Edit', edit_event_report_path(@event_report) %>
