<div class="container">
  <%= form_for(@place) do |f| %>
    <div class='form-group'>
      <%= f.label :name, class: 'control-label' %>
      <%= errors @place, :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Place Name' %>
    </div>

    <div class='form-group'>
      <%= f.label :address, class: 'control-label' %>
      <%= errors @place, :address %>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address (Optional)' %>
    </div>

    <div class='form-group'>
      <%= f.label :image %>
      <%= f.file_field :image, class: 'bgh-fileinput' %>
    </div>

    <div class="action">
      <%= f.submit "Submit", class: 'btn btn-default btn-primary' %>
    </div>
  <% end %>
</div>
