%meta{charset: 'utf-8'}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
%title
  - if yield(:header_title).present?
    = yield :header_title
  - elsif yield(:header_prefix).present?
    = (yield(:header_prefix)) + " - " + t('bgh.title')
  - else
    = t 'bgh.title'
= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true

- if current_user && current_user.color_theme
  - stylesheet_name = current_user.color_theme.style_file_name
- else
  - stylesheet_name = 'application'

= stylesheet_link_tag theme_name, media: 'all', class: 'base-stylesheet', 'data-turbolinks-track' => true

= stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Oxygen:300,400,700,300italic,400italic,700italic'
= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
