.container.topnav
  -# Brand and toggle get grouped for better mobile display
  .navbar-header

    %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"}}
      %span.sr-only
        = 'Toggle navigation'
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      = link_to t('bgh.title'), root_path, class: 'navbar-brand bgh-brand-font'

  .collapse.navbar-collapse#bs-example-navbar-collapse-1
    %ul.nav.navbar-nav
      %li
        = link_to prefix_edit(t('bgh.header.post_new_report')), new_event_report_path
      %li
        = link_to prefix_calendar(t('bgh.header.explore_events')), events_path
      %li.dropdown
        %a{href: '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, aria: {expanded: 'false', haspopup: 'true'}}
          %i.fa.fa-plus
        %ul.dropdown-menu
          %li= link_to t('bgh.header.places'), places_path
          %li= link_to t('bgh.header.post_new_event'), new_event_path
    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/user_menu'
